services:
  humanresourcesapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Data Source=host.docker.internal,1433;Initial Catalog=HumanResourceDB;User ID=sa;Password=computadora$1;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False
      - ConnectionStrings__Redis=distributedcache:6379
      - ElasticConfiguration:Uri=http://elasticsearch:9200
      - MessageBroker__Host=humanresource-mq
      - MessageBroker__UserName=guest
      - MessageBroker__Password=guest
    ports:
      - "5000:8080"
      - "5001:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
      - ./dataprotection-keys:/dataprotection-keys
    depends_on:
      - distributedcache
      - messagebus

  distributedcache:
    container_name: distributedcache
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  elasticsearch:
    container_name: elasticsearch
    environment:
      - xpack.security.enabled=false 
      - xpack.monitoring.templates.enabled=true
      - xpack.watcher.enabled=false
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - discovery.type=single-node
    ports:
        - "9200:9200"
    volumes:
        - elasticsearch-data:/usr/share/elasticsearch/data

  kibana:
    container_name: kibana
    environment:
        - ELASTICSEARCH_URL=http://elasticsearch:9200
    depends_on:
     - elasticsearch
    ports:
        - "5601:5601"

  portainer:
    container_name: portainer
    restart: always
    ports:
      - "8080:8000"
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

  messagebus:
    container_name: messagebus
    hostname: humanresource-mq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  redis_data:
  elasticsearch-data:
  portainer_data:  