<form [formGroup]="colaboratorForm" (ngSubmit)="CreateOrUpdate()">
  <div>
    <input type="text" formControlName="name" />
  </div>
  <div>
    <input type="text" formControlName="lastName" />
  </div>
  <div>
    <input type="text" formControlName="email" />
  </div>
  <div>
    <input type="text" formControlName="documentType" />
  </div>
  <div>
    <input type="text" formControlName="documentNumber" />
  </div>
  <p>Complete the form to enable button.</p>
  <button type="submit" class="btn btn-primary" [disabled]="!colaboratorForm.valid">
    Crear colaborador
  </button>
</form>

<hr />

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      @for(colaborator of colaborators; track colaborator.id) {
      <tr>
        <td>
          {{ colaborator.id }}
        </td>
        <td>
          {{ colaborator.name }}
        </td>
        <td>
          {{ colaborator.lastName }}
        </td>
        <td>
          {{ colaborator.email }}
        </td>
        <td>
          {{ colaborator.documentType }}
        </td>
        <td>
          {{ colaborator.documentNumber }}
        </td>
        <td>
          <button class="btn btn-primary" (click)="Selected(colaborator)">Modificar</button>
        </td>
      </tr>
      }@empty { }
    </tbody>
  </table>
</div>
